@import './vars/_fonts.scss';
@import './vendor/swiper.scss';
@import '../css/normalize.css';

#app {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: 910px) {
    padding: 0 15px;
  }
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: OpenSans;
  font-style: normal;
  font-size: 10px;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #000000;
}

.overflow-hidden {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;

  &:hover {
    text-decoration: none;
    color: inherit;
    transition: color .2s ease;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -45.5px -30px;
}

.col-6 {
  margin: 45.5px 30px;
  width: calc(100% / 12 * 6 - 60px);
  @media (max-width: 910px) {
    width: calc(100% - 60px);
  }
}

.col-4{
  margin: 45.5px 30px;
  width: calc(100% / 12 * 4 - 60px);
  @media (max-width: 910px) {
    width: calc(100% - 60px);
  }
}

.title--primary {
  padding-bottom: 1.5rem;
  border-bottom: .2rem solid #979797;
  font-family: 'OpenSans';
  font-size: 3.6rem;
  line-height: 4.8rem;
  text-transform: uppercase;
  color: #FFFFFF;
  @media (max-width: 910px) {
    padding-bottom: 1rem;
    font-size: 2.6rem;
    line-height: 2.8rem;
  }
}

.image{
  display: block;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

input{
  border: none;
  outline: none;
  cursor: pointer;
}
