<template>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__top">
        <router-link
            :to="{path: `/`}"
            class="footer__logo"
        >
          <img class="logo-img" src="../../assets/image/layout/logo.svg" alt="logo">
        </router-link>
        <nav class="footer__menu">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link font__main" href="#">О студии</a>
            </li>
            <li class="footer__item" v-for="(footerItem, index) in footerList" :key="index">
              <a class="footer__link font__sec" :href="footerItem.url">{{ footerItem.title }}</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link font__main" href="#">О студии</a>
            </li>
            <li class="footer__item" v-for="(footerItem, index) in footerList" :key="index">
              <a class="footer__link font__sec" :href="footerItem.url">{{ footerItem.title }}</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link font__main" href="#">О студии</a>
            </li>
            <li class="footer__item" v-for="(footerItem, index) in footerList" :key="index">
              <a class="footer__link font__sec" :href="footerItem.url">{{ footerItem.title }}</a>
            </li>
          </ul>
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link font__main" href="#">О студии</a>
            </li>
            <li class="footer__item" v-for="(footerItem, index) in footerList" :key="index">
              <a class="footer__link font__sec" :href="footerItem.url">{{ footerItem.title }}</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer__bottom">
        <div class="footer__icon-list">
          <div class="footer__icon-item" v-for="(iconItem, index) in iconList" :key="index">
            <div class="footer__icon-inner">
              <a :href="iconItem.url" class="footer__icon-link">
                <img :src="require(`../../assets/image/layout/${iconItem.path}.svg`)" :alt="iconItem.name"
                     class="footer__icon-img">
              </a>
            </div>
          </div>
        </div>
        <div class="footer__dev">
          <span>Разработка сайта: </span><a class="footer__dev-studio" href="#">My studio</a>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footer',
  data() {
    return {
      footerList: [
        {
          title: 'О студии',
          url: '#',
        },
        {
          title: 'Чем занимаемся',
          url: '#'
        },
        {
          title: 'Подход к работе',
          url: '#'
        },
        {
          title: 'Наша культура',
          url: '#'
        }
      ],
      iconList: [
        {
          name: 'facebook',
          url: '#',
          path: 'f'
        },
        {
          name: 'facebook',
          url: '#',
          path: 'f'
        },
        {
          name: 'facebook',
          url: '#',
          path: 'f'
        },
        {
          name: 'facebook',
          url: '#',
          path: 'f'
        },
      ]
    }
  }
}
</script>
<style lang="scss">
.footer {
  padding: 4rem 0;
  background-color: #000000;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;

    @media (max-width: 910px) {
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__item{
    font-family: 'OpenSans';
    font-size: 1.4rem;
    line-height: 3.6rem;
    color: #7B7B7B;
  }

  &__icon-list {
    display: flex;
  }

  &__icon-link {
    display: flex;
  }

  &__icon-item {
    margin-right: 35px;
    width: 40px;
    height: 40px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    position: relative;
  }

  &__icon-inner {
    position: absolute;
    background-color: #FFFFFF;
    bottom: 5px;
    right: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    flex: 2;
    @media (max-width: 910px) {
      align-self: normal;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 910px) {
      flex-direction: column;
    }
  }

  &__dev-studio {
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 36px;
    /* or 257% */
    color: #FFFFFF;
  }

  &__logo {
    width: 269px;
    height: 180px;
    margin-right: 13rem;

    @media (max-width: 910px) {
      width: 150px;
      height: 100px;
    }
  }
}

.logo-img {
  display: block;
  width: 100%;
  height: 100%;
}
</style>
