<template>
  <header class="header" :class="{'scrolled':scroll}" v-scroll="handleScroll">
    <div class="header__container">
      <nav class="header__menu">
        <Burger
            class="header__burger"
            :active="active"
            @changeHandleHeader="changeHandleHeader()"
        />
        <ul class="header__list">
          <li class="header__item font__main" v-for="(headerLink, index) in headerList" :key="index">
            <router-link class="header__link" :to="{path:headerLink.url}">{{ headerLink.title }}</router-link>
          </li>
        </ul>
        <div class="header__inner">
          <Button class="header__button" :variant="'white'">
            <a class="header__button-link" href="#">Консультация эксперта</a>
          </Button>
          <div class="header__mob">
            <a class="header__mob-link" href="tel:+79998310120">+7 (999) 831-01-20</a>
          </div>
        </div>
      </nav>
      <BurgerList
          v-if="active"
          :headerList="headerList"
          :active="active"
          @changeHandleHeader="changeHandleHeader()"
      />
    </div>
  </header>
</template>
<script>
import Button from '../common/Button.vue'
import Burger from '../common/Burger.vue'
import BurgerList from "../common/BurgerList";

export default {
  name: 'Header',
  components: {
    Button, Burger, BurgerList
  },
  data() {
    return {
      active: false,
      scroll: 0,
      headerList: [
        {
          title: 'О студии',
          url: '/'
        },
        {
          title: 'Портфолио',
          url: '/portfolio'
        },
        {
          title: 'Услуги и стоимость',
          url: '#'
        },
        {
          title: 'Популярные вопросы',
          url: '#'
        },
        {
          title: 'Блог',
          url: '#'
        },
        {
          title: 'Контакты',
          url: '#'
        },
      ]
    }
  },
  methods: {
    handleScroll: function () {
      this.scroll = window.scrollY > 100
    },
    handleBurger() {
      this.active = !this.active
    },
    changeHandleHeader() {
      this.active = !this.active;
      if (this.active === true) {
        document.body.classList.add('overflow-hidden',)
      } else {
        document.body.classList.remove('overflow-hidden',)
      }
    },
  }
}
</script>
<style lang="scss">
.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.header {
  position: fixed;
  width: 100%;
  padding: 1.5rem 0;
  z-index: 10;

  @media (max-width: 910px) {
    padding: 3rem 0;
  }

  &__container {
    max-width: 1752px !important;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 910px) {
      display: none;
    }
  }

  &__link {
    margin-right: 27px;
    font-family: 'OpenSans';
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__button {
    flex: 1 50%;
    color: #000000;

    @media (max-width: 910px) {
      flex: 1 50%;
    }
  }

  &__button-link {
    font-family: 'OpenSans-Bold';
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    color: #000000;
  }

  &__mob {
    margin-left: 40px;


    @media (max-width: 910px) {
      flex: 1 50%;
      margin-left: 17px;
    }

    &-link {
      font-family: 'OpenSans';
      font-size: 1.8rem;
      line-height: 2.1rem;
      text-transform: uppercase;
      color: #FFFFFF;

      @media (max-width: 910px) {
        font-size: 1.4rem;
      }
    }
  }

  &__burger {

    @media (max-width: 910px) {
      margin-right: 15px;
    }
  }
}
</style>
