<template>
  <div id="home">
    <HomePrimary/>
    <HomeDream/>
    <HomeServices/>
    <HomeVideoAbout/>
    <HomeDesign/>
    <HomeStages/>
    <HomeAreas/>
    <HomeExamples/>
    <HomeFeedback/>
  </div>
</template>
<script>
import {
  HomePrimary,
  HomeDream,
  HomeFeedback,
  HomeServices,
  HomeExamples,
  HomeVideoAbout,
  HomeDesign,
  HomeStages,
  HomeAreas,
} from '@/components/pages/home'
import Header from '../components/layout/Header.vue'
import Footer from '../components/layout/Footer.vue'

export default {
  name: 'Home',
  components: {
    Header,
    Footer,
    HomePrimary,
    HomeDream,
    HomeFeedback,
    HomeServices,
    HomeExamples,
    HomeVideoAbout,
    HomeDesign,
    HomeStages,
    HomeAreas,
  },
  data() {
    return {}
  }
}
</script>

<style lang="scss">

</style>
