<template>
  <section class="portfolio-design">
    <div class="portfolio-design__container">
      <div class="portfolio-design__title title--primary">
        {{ element.title }}
      </div>
      <div class="portfolio-design__return">
        <router-link
            class="portfolio-design__return-link"
            :to="{path: '/portfolio'}"
        >
          Назад в портфолио
        </router-link>
      </div>

      <div class="portfolio-design__content">

        <div class="portfolio-design__text">

          <ul class="portfolio-design__list">
            <li class="portfolio-design__item">
              Адрес: {{ element.address }}
            </li>
            <li class="portfolio-design__item">
              Площадь: {{ element.area }}
            </li>
            <li class="portfolio-design__item">
              Год: {{ element.year }}
            </li>
            <li class="portfolio-design__item">
              Тип: {{ element.type }}
            </li>
          </ul>

          <div class="portfolio-design__desc">
            {{ element.desc }}
          </div>
        </div>

        <div class="portfolio-design__figure">
          <img class="portfolio-design__image"
               :src="require(`../assets/image/portfolio/${element.src}`)" alt="">
        </div>

      </div>


      <div class="swiper-container portfolio-design__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
          <div class="swiper-slide">Slide 6</div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
        </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
      </div>

    </div>
  </section>
</template>
<script>
import Header from '../components/layout/Header.vue'
import Footer from '../components/layout/Footer.vue'
import {DesignsApiService} from '/src/services/common'

import Swiper from 'swiper/bundle';
import 'swiper/swiper-bundle.css';

export default {
  name: 'PortfolioPage',
  components: {
    Header,
    Footer,
  },
  data() {
    return {
      swiper: null,
      element: DesignsApiService.getDataById(this.$route.params.id)
    }
  },
mounted() {
  window.scrollTo(0, 0)
  this.swiper = new Swiper(".portfolio-design__swiper", {
    slidesPerView: 1,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
}
}
</script>
<style lang="scss" scoped>
.portfolio-design {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 0;
  }

  &__title {
    padding-top: 164.4px;
    margin-bottom: 5rem;
  }

  &__return {
    margin-bottom: 10rem;

    @media (max-width: 910px) {
      margin-bottom: 1.5rem;
    }

    &-link {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: #FFFFFF;

      &:before {
        content: url("../assets/image/portfolio/arrow_right.svg");
        display: block;
        color: #FFFFFF;
        width: 3rem;
        height: 3rem;
        margin-right: 10px;
      }
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    width: 100%;

    @media (max-width: 910px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    flex: 1 50%;

    @media (max-width: 910px) {
      flex: 100%;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 4.24rem;
    width: 100%;

    @media (max-width: 910px) {
      flex-direction: column;
      margin-bottom: 1.5rem;
    }
  }

  &__item {
    flex: 1 50%;
    font-family: 'OpenSans';
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFFFF;
  }

  &__desc {
    font-family: 'OpenSans';
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    width: 75%;
    margin-bottom: 4.16rem;

    @media (max-width: 910px) {
      font-size: 1.4rem;
      line-height: 2.6rem;
      width: 100%;
      margin-bottom: 1.5rem;
    }
  }

  &__figure {
    flex: 1 50%;
    display: flex;
    border: 2px solid #FFFFFF;
  }

  &__image {
    display: block;
    transform: translate(4rem, 4rem);
    width: 100%;
    height: 100%;

    @media (max-width: 910px) {
      transform: translate(1rem, 2rem);
    }
  }

  &__swiper{
    min-width: 0;
  }
}
</style>
