<template>
  <div id="portfolio">
      <Content/>
  </div>
</template>
<script>
import Header from '../components/layout/Header.vue'
import Footer from '../components/layout/Footer.vue'
import Content from '../components/pages/portfolio/Content.vue'

export default {
  name: 'Portfolio',
  components: {
    Header,
    Footer,
    Content,
  }
}
</script>
<style lang="scss">
</style>
