<template>
  <section class="areas">
    <div class="areas__container">
      <div class="areas__title title--primary">
        <h2>Направления работ</h2>
      </div>

      <div class="areas__content">

        <div class="areas__item"
             v-for="(areaItem, index) in areaItems"
             :key="index"
        >
          <div class="areas__wrapper">
            <img class="areas__image"
                 :src="require(`../../../assets/image/home/${areaItem.src}.png`)" alt="">
            <div class="areas__item-title">
              {{ areaItem.title }}
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
</template>
<script>
export default {
  name: 'Areas',
  data() {
    return {
      areaItems: [
        {
          title: 'Жилые интерьеры',
          src: 'areas'
        },
        {
          title: 'Коммерческие интерьеры',
          src: 'areas'
        },
        {
          title: 'Архитектурное проектирование',
          src: 'areas'
        },
      ]
    }
  }

}
</script>
<style lang="scss">
.areas {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-image: url("../../../assets/image/home/stage.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: left bottom 83%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 13.1rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem;
    width: 100%;

    @media (max-width: 910px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    border: 2px solid #FFFFFF;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translate(30px, -30px);

    @media (max-width: 910px) {
      transform: translate(1rem, -2rem);
    }

    &:before {
      content: '';
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.759228) 0%, rgba(0, 0, 0, 0.0001) 50%);
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
    position: relative;
  }

  &__item-title {
    max-width: 150px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 24px;
    /* or 120% */
    color: #FFFFFF;
    z-index: 3;
  }
}

</style>
