<template>
  <section class="design">
    <div class="design__container">
      <div class="design__title title--primary">
        <h2>Кто отвечает за качество вашего проекта?</h2>
      </div>
      <div class="design__content">
        <div class="design__text-block">
          <div class="design__text-block-title">
            Анастасия Тимофеева
          </div>
          <ul class="design__text-block-list">
            <li class="design__text-block-item" v-for="(specSkill, index) in specSkills" :key="index">{{ specSkill }}
            </li>
          </ul>
          <div class="design__text-block-quote">
            <div class="design__text-block-inner">
              <span class="text--black">«Дизайн интерьера</span> - это не просто красивые картинки. Для меня, органичный
              дизайн интерьера - это,
              в первую очередь, грамотно собранное и качественно продуманное пространство для жизни. Наша главная цель -
              <span class="text--black">сделать Вашу жизнь комфортной»</span>
            </div>
          </div>
        </div>
        <div class="design__image-block">
          <img class="design__image" src="../../../assets/image/home/timofeeva_ana.png" alt="photo">
        </div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Design',
  data() {
    return {
      specSkills: ['Дизайнер', 'Выпускница Istituto Marangoni (Милан, Италия)', 'Выпускница СПб ГАСУ (Санкт-Петербург, Россия)', 'Основатель и идейный вдохновитель студии "Bricks Design"']
    }
  }
}
</script>
<style lang="scss">
.design {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-image: url("../../../assets/image/home/bgdesign.png");
  background-repeat: no-repeat;
  background-position: left 0 bottom 80%;
  background-size: inherit;
  padding: 5rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    display: flex;
    max-width: 518px;
    width: 100%;
    position: relative;
    border-bottom: none;
    padding-bottom: 0;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 63.3%;
      height: 2px;
      background: rgba(255,255,255,0.5);
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 69px;
    width: 100%;

    @media (max-width: 910px) {
      grid-template-columns: 1fr;
    }
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    @media (max-width: 910px) {
      order: 2;
    }

    &-title {
      font-family: 'OpenSans';
      font-size: 2.4rem;
      line-height: 2.8rem;
      color: #FFFFFF;
    }

    &-list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      max-width: 494px;
      width: 100%;
      margin-bottom: 65.8px;
    }

    &-item {
      font-family: 'OpenSans';
      font-size: 1.8rem;
      line-height: 3.4rem;
      color: #FFFFFF;

      &:before {
        content: '•';
        margin-right: 6px;
      }
    }

    &-quote {
      border: 2px solid #FFFFFF;
    }

    &-inner {
      transform: translate(-3.2rem, -3rem);
      background-color: #FFFFFF;
      padding: 31.4px 32px 33.6px 30px;
      font-family: 'Open Sans';
      font-size: 1.6rem;
      line-height: 2.4rem;
      color: #000000;

      @media (max-width: 910px) {
        transform: translate(-1rem, -3rem);
      }
    }
  }

  &__image-block {
    display: flex;
    border: 2px solid #FFFFFF;


    @media (max-width: 910px) {
      order: 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    transform: translate(3.1rem, 2.3rem);
    object-fit: cover;
    object-position: center;

    @media (max-width: 910px) {
      transform: translate(1rem, 2.3rem);
    }
  }
}

.text--black {
  font-style: italic;
  font-weight: 700;
}
</style>


