<template>
  <section class="dream">
    <div class="dream__container">
      <div class="dream__wrapper">
        <div class="dream__title title--primary">
          <h2>Интерьер Вашей мечты от студии Bricks Design</h2>
        </div>
        <div class="dream__desc">
          Комплексный подход к дизайну интерьеров и декорированию
        </div>
        <div class="swiper-container ">
          <div class="swiper-wrapper swiper__wrapper-btn">
            <div class="swiper-pagination"></div>
            <div class="swiper__btn-wrapper">
              <div class="swiper-button-prev">
                <img src="../../../assets/image/home/arrow_left.svg" alt="">
              </div>
              <div class="swiper-button-next">
                <img src="../../../assets/image/home/arrow_right.svg" alt="">
              </div>
              <Button
                  class="dream__button"
                  :variant="'lined'"
                  :type="'button'"
              >
                <router-link
                    class="button__link"
                    :to="{path: '/portfolio'}"
                >
                  Портфолио
                </router-link>
              </Button>
            </div>

          </div>
        </div>
      </div>

      <div class="swiper-container dream__myswiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img class="swiper__image" src="../../../assets/image/home/dream-img.png" alt="">
          </div>
          <div class="swiper-slide"><img class="swiper__image" src="../../../assets/image/home/dream-img.png" alt="">
          </div>
          <div class="swiper-slide"><img class="swiper__image" src="../../../assets/image/home/dream-img.png" alt="">
          </div>
          <div class="swiper-slide"><img class="swiper__image" src="../../../assets/image/home/dream-img.png" alt="">
          </div>
          <div class="swiper-slide"><img class="swiper__image" src="../../../assets/image/home/dream-img.png" alt="">
          </div>
          <div class="swiper-slide"><img class="swiper__image" src="../../../assets/image/home/dream-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Swiper from 'swiper/bundle';
import 'swiper/swiper-bundle.min.css';
import Button from "../../common/Button";

export default {
  name: 'Dream',
  components: {
    Button
  },
  data() {
    return {
      swiper: null,
    }
  },
  mounted() {
    this.swiper = new Swiper(".dream__myswiper", {
      effect: "fade",
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      pagination: {
        el: ".swiper-pagination",
      },
    });
  }
}
</script>
<style lang="scss">
.dream {
  min-height: 100vh;
  padding: 5rem 0;
  background-color: #000000;
  display: flex;
  justify-content: flex-end;
  min-width: 0;

  &__container {
    display: flex;
    position: relative;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    max-width: 47.1rem;
    width: 100%;
    margin-bottom: 2.64rem;
  }

  &__desc {
    max-width: 29.4rem;
    width: 100%;
    font-family: "OpenSans", sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    margin-bottom: 8.56rem;
  }

  &__myswiper {
    position: absolute;
    border: 2px solid #FFFFFF;
    left: 53%;
    width: 70%;
  }

  &__button {
    margin-left: 206px;
    display: flex;
  }
}

.swiper {
  &-container{
    overflow: visible;
  }

  &-wrapper {
    align-items: center;
    position: relative;

  }
  //
  //&__image {
  //  transform: translate(3.1rem, 2.3rem);
  //}
  //
  &__btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-button-next,
  &-button-prev {
    position: static;
    margin: 0 10px 0 0;

    &:after {
      display: none;
    }
  }

  &-slide{
    opacity: 0;


    &-active{
      opacity: 1;
      transform: translate(3.6rem, 4rem);
    }

    &-prev {
      position: absolute;
      right: 10rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      opacity: .3 !important;
      img{
        width: 37.3rem;
        margin-right: -70px;
      }
    }
  }

  &__wrapper-btn {
    display: flex;
    flex-direction: column;
  }

  &-pagination {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 7rem;
  }
}


.swiper-pagination-bullet {
  height: 4px;
  width: 4px;
  background: #ffffff;
  opacity: 1;
  margin-bottom: 20px;
}

.swiper-pagination-bullet-active {
  border-radius: 3px;
  height: 4px;
  width: 26px;

}
</style>
