<template>
  <section class="examples">
    <div class="examples__container">
      <div class="examples__title title--primary">
        Примеры работ
      </div>
      <div class="examples__content">
        <PortfolioCard
            class="examples__portfolio-card"
            v-for="element in elements"
            :key="element.id"
            :element="element"
        />
      </div>
      <Button
          class="examples__button"
          :variant="'lined'"
          :type="'button'"
      >
        <router-link
            class="button__link"
            :to="{path: '/portfolio'}"
        >
          Посмотреть все работы
        </router-link>
      </Button>
    </div>
  </section>
</template>
<script>

import Button from "../../common/Button";
import PortfolioCard from "../../UI/PortfolioCard.vue"
import {DesignsApiService} from "../../../services/common";

export default {
  name: 'Examples',
  components: {
    Button, PortfolioCard
  },

  data() {
    return {
      elements: DesignsApiService.getFourData()
    }
  }
}
</script>
<style lang="scss">
.examples {
  background-color: #000000;
  background-image: url("../../../assets/image/home/portfolio.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: right 2% bottom 87%;
  min-height: 100vh;
  width: 100%;
  padding: 5rem 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 5rem;
    padding-bottom: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    width: 100%;
    margin-bottom: 50px;

    @media (max-width: 910px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    height: 518px;
    position: relative;

    &-text {
      max-width: 481px;
      width: 100%;
    }

    &-inner {
      background-image: url("../../../assets/image/portfolio/example.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 391px;
      position: absolute;
      left: 31px;
      bottom: 97px;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__button {
    align-self: center;
  }

  &__button {
    align-self: center;
  }
}
</style>
