<template>
  <section class="feedback">
    <div class="feedback__container">
      <div class="feedback__content">
        <div class="feedback__title">
          <h2>У Вас есть вопросы?</h2>
        </div>
        <div class="feedback__desc">
          <p>Задайте их прямо сейчас.</p>
         <p>Мы свяжемся с Вами и подробно проконсультируем</p>
        </div>
        <form class="feedback__form" @submit.prevent="onSubmit">
          <input class="feedback__input" v-model="form.firstName" type="text" placeholder="Как вас зовут?">
          <input class="feedback__input" v-model="form.mobile" type="text" placeholder="На какой телефон перезвонить?">
          <input class="feedback__input" v-model="form.question" type="text" placeholder="Ваш вопрос:">
          <Button :variant="'lined'" :type="'submit'" class="feedback__button"><a href="#">Отправить</a></Button>
        </form>
      </div>
    </div>
  </section>
</template>
<script>
import axios from 'axios'
import Button from '../../common/Button.vue'
export default {
  name: 'Feedback',
  data () {
    return {
      form: {
        firstName: '',
        mobile: '',
        question: ''
      }
    }
  },
  components: {
    Button
  },
  methods: {
    onSubmit () {
      axios.post('https://my-json-server.typicode.com/typicode/demo/posts', this.form)
          .then((res) => {
           console.log(res)
          })
          .catch((error) => {
            // error.response.status Check status code
          }).finally(() => {
        //Perform action in always
      });
    }
  }
}
</script>
<style lang="scss">
.feedback {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    padding: 15px 0;
    margin-bottom: 20px;
    font-family: 'OpenSans';
    font-size: 36px;
    line-height: 48px;
    /* identical to box height, or 133% */

    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
  }

  &__desc {
    font-family: 'OpenSans';
    max-width: 500px;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    text-align: center;
    margin-bottom: 60px;
    color: #FFFFFF;
  }

  &__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 430px;
    width: 100%;
  }
  &__button {
max-width: 43.7%;
  }

  &__input {
    background-color: #000000;
    border-bottom: 1px solid #FFFFFF;
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    padding: 10px 0;
    margin-bottom: 37px;
    max-width: 430px;
    width: 100%;
    color: #FFFFFF;
  }
}
</style>
