<template>
  <section class="primary">
    <div class="primary__container">
      <div class="primary__logo logo">
        <a href="/" class="logo__link">
          <img class="logo__img" src="../../../assets/image/layout/logo.svg" alt="logo">
        </a>
        <div class="logo__desc">
          <h3>Комплексный подход к дизайну интерьеров и декорированию</h3>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Button from '../../common/Button.vue'

export default {
  name: 'Primary',
  components: {
    Button
  },
}
</script>
<style lang="scss">
.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url("../../../assets/image/home/Bitmap.png") no-repeat center;


  &::before {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 8;
  }

  .logo {

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &__link {
      margin-bottom: 8.889rem;

      @media (max-width: 910px) {
        margin-bottom: 4rem;
      }
    }

    &__desc {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      font-family: 'OpenSans';
      font-size: 1.2rem;
      line-height: 1.4rem;
      letter-spacing: .12rem;
      text-transform: uppercase;
      color: #FFFFFF;

      @media (max-width: 910px) {
        width: 75%;
      }
    }
  }
}
</style>
