<template>
  <section class="services">
    <div class="services__container">
      <div class="services__title title--primary">
        <h2>Наши услуги</h2>
      </div>
      <div class="services__content">
        <div class="services__item"
             v-for="(service, index) in services"
             :key="index"
             id="show-modal"
             @click="toggleService(service)"
        >
          <div class="services__figure">
            <img class="services__image image"
                 :src="require(`../../../assets/image/home/${service.src}`)"
                 alt="service"
            >
            <div class="services__name">
              {{ service.name }}
            </div>
          </div>

          <div class="services__desc">
            {{ service.desc }}
          </div>
        </div>
      </div>

      <modal
          class="services__modal-content"
          v-if="showModal"
          @close="showModal = false"
      >
            <h3 slot="header" class="service__slot-header">{{ service.name }}</h3>
        <slot slot="body">
          <img class="image" :src="require(`../../../assets/image/home/${service.src}`)"  alt="">

        </slot>
        <slot slot="footer">{{service.desc}}</slot>


      </modal>

    </div>
  </section>
</template>
<script>
import Modal from '../../common/Modal.vue'
import Button from "../../common/Button";
export default {
  name: 'Services',
  components: {
    Button,
    Modal
  },
  data() {
    return {
      showModal: false,
      service: {

      },
      services: [
        {
          name: 'Дизайн-проект',
          desc: '1(Описание) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'design.png'
        },
        {
          name: 'Авторский надзор',
          desc: '2(Описание) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'design.png'
        },
        {
          name: 'Декорирование',
          desc: '3(Описание) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'design.png'
        },
        {
          name: 'Комплектация',
          desc: '4(Описание) Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'design.png'
        },
      ]
    }
  },
  methods: {
    asd () {
      console.log('asd')
    },
    toggleService (service){
      this.service = service;
      this.showModal = true
    }
  },
  mounted() {
    window.st = this
  }
}
</script>
<style lang="scss">
.services {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-image: url("../../../assets/image/home/service.png");
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: left bottom 90%;
  padding: 20rem 0;

  @media (max-width: 91rem) {
    padding: 3rem 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    margin-bottom: 11rem;

    @media (max-width: 91rem) {
      margin-bottom: 6rem;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9rem 6rem;

    @media (max-width: 910px) {
      grid-template-columns: 1fr;
      gap: 6rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 2px solid #FFFFFF;
    cursor: pointer;
  }

  &__figure {
    width: 100%;
    position: relative;
    transition: all ease-out 0.3s;

    &:hover {
      transform: translate(3rem, -6rem);
    }

    @media (max-width: 910px) {
      transform: translate(1rem, -3rem);
    }

    &:before {
      content: "";
      background: rgba(0, 0, 0, 0.2);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 2;
    }
  }

  &__image {
    position: relative;
    z-index: 1;
  }

  &__name {
    position: absolute;
    top: 5%;
    left: 5%;
    font-family: 'OpenSans';
    font-size: 2rem;
    line-height: 2.4rem;
    color: #FFFFFF;
    z-index: 3;
  }

  &__desc {
    max-width: 75%;
    font-family: 'OpenSans';
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #FFFFFF;
  }

  &__modal-content{
    width: 25%;
  }
}
</style>
