<template>
  <section class="stages">
    <div class="stages__container">
      <div class="stages__title title--primary">
        <h2>Этапы работ</h2>
      </div>
      <div class="stages__content">
        <div class="stages__item" v-for="(stageItem, index) in stageItems" :key="index">
          <div class="stages__item-icon">
            <img class="stages__item-image" :src="require(`../../../assets/image/home/${stageItem.src}.svg`)" alt="">
          </div>
          <div class="stages__item-title">
            {{ stageItem.title }}
          </div>
          <div class="stages__item-desc">
            {{ stageItem.desc }}
          </div>
        </div>
      </div>
      <Button :variant="'lined'" :type="'submit'" class="stages__button">
        <span href="#">Подробнее</span>
      </Button>
    </div>
  </section>
</template>
<script>
import Button from '../../common/Button.vue'

export default {
  name: 'Stages',
  components: {
    Button
  },
  data() {
    return {
      stageItems: [
        {
          title: 'Личная встреча на объекте',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'icon1'
        },
        {
          title: 'Личная встреча на объекте',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'icon1'
        },
        {
          title: 'Личная встреча на объекте',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'icon1'
        },
        {
          title: 'Личная встреча на объекте',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'icon1'
        },
        {
          title: 'Личная встреча на объекте',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'icon1'
        },
        {
          title: 'Личная встреча на объекте',
          desc: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.',
          src: 'icon1'
        },
      ]
    }
  }
}
</script>
<style lang="scss">
.stages {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background-image: url("../../../assets/image/home/stage.png"), url("../../../assets/image/home/array-arow.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: inherit;
  background-position: left bottom 85%, right 35% bottom 55%;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__content{
  display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 5.5rem 3rem;
    width: 100%;

    @media (max-width: 910px) {
      grid-template-columns: repeat(2, 2fr);
    }
  }

  &__title {
    margin-bottom: 44.6px;
  }

  &__item {


    &-icon {
      width: 70px;
      margin-bottom: 12.4px;
    }

    &-image {
      width: 100%;
      height: 100%;
    }

    &-title {
      margin-bottom: 6.6px;
      font-family: 'OpenSans';
      font-size: 16px;
      line-height: 24px;
      /* identical to box height, or 150% */


      color: #FFFFFF;
    }

    &-desc{
      font-family: 'OpenSans';
      font-size: 14px;
      line-height: 16px;
      color: #999999;

    }
  }

  &__form {
    align-self: center;
    margin-top: 54px;
  }

  &__button {
    margin-top: 54px;
    align-self: center;
  }
}
</style>
