<template>
  <section class="video">
    <div class="video__play">
      <div class="video__inner" @click="handlePlay">
        <img class="video__play-image" src="../../../assets/image/home/play.svg" alt="">
      </div>
    </div>
    <span class="video__desc">Видео о компании</span>
<!--    <iframe class="video__clip" :class="{active: isActive}" width="560" height="315"-->
<!--            src="https://www.youtube.com/embed/KRcvx9HBcnU?controls=0"-->
<!--            title="YouTube video player" frameborder="0"-->
<!--            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--            allowfullscreen>-->
<!--    </iframe>-->
    <div class="video__overlay" @click="handlePlay">
    </div>
  </section>
</template>
<script>
export default {
  name: 'VideoAbout',
  data() {
    return {
      isActive: false,
    }
  },
  methods: {
    handlePlay() {
      this.isActive = !this.isActive
    }
  }
}
</script>
<style lang="scss">
.active{
  display: block !important;
}
.video {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../assets/image/home/room.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;

  &:after {
    content: '';
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }

  &__play {
    border: 2px solid #FFFFFF;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    z-index: 40;
    margin-bottom: 14px;
  }

  &__inner {
    background-color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    bottom: 0;
    right: 0;
    cursor: pointer;

    &:hover {
      bottom: 10px;
      right: 10px;
    }
  }

  &__play-image {
    padding: 39px 50px;
  }

  &__desc {
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 40;
  }

  &__clip {
    z-index: 999;
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    display: none;
  }
  &__overlay {
    background: rgba(64, 64, 64, .4);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 30;
  }
}
</style>
