<template>
  <section class="portfolio">
    <div class="portfolio__container">
      <div class="portfolio__title title--primary">
        <h2>Примеры работ</h2>
      </div>
      <div class="portfolio__filters">
        <div class="portfolio__categories">
          <Button
              class="portfolio__button"
              :variant="'lined'"
              :type="'button'"
              v-for="(filter, index) in filters"
              :key="index"
              @click.native="handleFilter( filter )"
              :class="{ 'filter--active': activeCategory.code === filter.code }"
          >
            {{ filter.name }}
          </Button>
        </div>

        <div class="portfolio__types">
          <ul class="portfolio__types-list">
            <li class="portfolio__types-item"
                v-for="(filter, index) in activeCategory.elements"
                :key="index"
                @click="handleSubFilter( filter )"
                :class="{ 'subfilter--active': activeSubCategory.code === filter.code }"
            >
              {{ filter.name }}
            </li>

          </ul>
        </div>
      </div>

      <div class="examples__content">


      <PortfolioCard
          class="examples__portfolio-card"
          v-for="element in filterElements"
          :key="element.id"
          :element="element"
      />

      </div>
    </div>
  </section>
</template>
<script>
import Button from '../../common/Button.vue'
import Examples from '../home/Examples.vue'
import {DesignsApiService} from '/src/services/common'
import PortfolioCard from '../../UI/PortfolioCard'

export default {
  name: 'Content',
  components: {
    Button, Examples, PortfolioCard
  },
  data() {
    return {
      activeCategory: DesignsApiService.getDataDefault(),
      activeSubCategory: {},
      filters: DesignsApiService.getFilters(),
      elements: DesignsApiService.getData(),
    }
  },
  computed: {
    filterElements() {
      if (this.activeCategory.code === 'all') {
        return this.elements
      }
      if (this.activeSubCategory.code === 'all') {
        return this.elements.filter(element => element.category === this.activeCategory.code)
      }
      return this.elements.filter(element => element.code === this.activeSubCategory.code)
    },
  },
  methods: {
    handleFilter(i) {
      this.activeCategory = i
      this.activeSubCategory = this.activeCategory.elements[0] || {}
      console.log(i)
    },
    handleSubFilter(k) {
      this.activeSubCategory = k
      console.log(k)
    }
  },
}
</script>
<style lang="scss">
.portfolio {
  background: url("../../../assets/image/portfolio/portfolio_bg.png") no-repeat left 0 top 14rem #000000;


  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    padding-top: 164.4px;
    margin-bottom: 50px;
  }

  &__filters {
    display: flex;
    flex-direction: column;
  }

  &__categories {
    display: flex;
    margin-bottom: 43.4px;
  }

  &__button {
    margin-right: 20px;
    padding: 12px 43px 13px 44px;
    font-family: 'OpenSans';
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &:hover {
      color: #000000;
      background-color: #FFFFFF;
    }
  }

  &__types {
    margin-bottom: 43.4px;
  }

  &__types-list {
    display: flex;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #FFFFFF;
  }

  &__types-item {
    position: relative;
    cursor: pointer;
    margin-right: 65px;
    padding: 5px 0;

    &:hover:before{
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      width: 100%;
      height: 5px;
      background: #FFFFFF;
      box-shadow: 0 0 10px #FFFFFF;
    }
  }

  &__item {
    margin-right: 65px;
    font-family: 'OpenSans';
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #999999;
    border-bottom: 2px solid transparent;
  }

  .size {
    &:after {
      content: 'м²';
    }
  }
}

.examples__item {
  cursor: pointer;
}

.subfilter--active{
  &:before{
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #FFFFFF;
    box-shadow: 0 0 10px #FFFFFF;
  }
}
.filter--active{
  color: #000000;
  background-color: #FFFFFF;
}
</style>

