<template>
  <div class="header__burger-menu burger-menu">
    <div class="burger-menu__container">
      <Burger
          class="burger-menu__burger"
          :active="active"
          @changeHandleHeader="changeHandleHeader()"
      />
    </div>
    <ul class="burgerlist__list">
      <li class="header__item font__main" v-for="(headerLink, index) in headerList" :key="index">
        <router-link class="header__link" :to="{path:headerLink.url}">{{ headerLink.title }}</router-link>
      </li>
    </ul>
  </div>
</template>
<script>
import Burger from "./Burger";

export default {
  name: 'BurgerList',
  props: [
    'headerList',
    'active'
  ],
  components: {
    Burger,
  },
  methods: {
    changeHandleHeader() {
      this.$emit('changeHandleHeader');
    },
  }
}
</script>
<style lang="scss" scoped>
.header__burger-menu {
  background-color: #000000;
  padding-top: 10px;
  color: #FFFFFF;
}

.burger-menu {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #D3DBE2;
    opacity: 0.3;
    mix-blend-mode: normal;
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;

  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    border-bottom: 1px solid #D3DBE2;
    opacity: 0.3;
    mix-blend-mode: normal;
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;


  }

  &__link {

  }

  &__login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
</style>
