<template>
  <button class="button" :type="type" :class='{[`button--${variant}`]:variant}'>

    <slot>
    </slot>
  </button>
</template>
<script>
export default {
  name: 'Button',
  props: ['variant', 'type']
}
</script>
<style lang="scss">
.button{
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #000000;
    background-color: #FFFFFF;
  }

  &--lined{
    background-image: url("../../assets/image/common/rectangleleft.svg"), url("../../assets/image/common/rectangleright.svg");
    background-color: #000000;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom left, top right;
    font-family: 'OpenSans';
    font-size: 1.2rem;
    line-height: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    & > * {
      display: block;
      color: inherit;
      width: 100%;
      height: 100%;
      padding: 12px 53px 13px 50px;
    }
  }

  &--white{
    font-size: 1.2rem;
    line-height: 1.4rem;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'OpenSans';
    color: #000000;
    padding: 12px 37px 12px 40px;
  }
}
</style>

