<template>
  <router-link
      class="portfolio-card"
      :to="{path: `/portfolio/${element.id}`}"
  >
    <div class="portfolio-card__figure">
      <img
          :src="require(`../../assets/image/portfolio/${element.src}`)"
          alt="Портфолио"
          class="portfolio-card__image"
      >
    </div>
    <div class="portfolio-card__text">
      <div class="portfolio-card__title">
        {{ element.title }}
      </div>
      <div class="portfolio-card__wrapper">
        <div class="portfolio-card__type">{{ element.code}}</div>
        <div class="portfolio-card__area">{{ element.area }}</div>
      </div>
    </div>
  </router-link>
</template>
<script>

export default {
  name: 'PortfolioCard',
  props: ['element'],
  data() {
    return {

    }
  },
}
</script>
<style lang="scss">
.portfolio-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #FFFFFF;
  min-height: 518px;
  height: 1px;

  &__figure {
    width: 100%;
    height: 75.48%;
    transform: translate(30px, 30px);
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    padding: 0 23px 14.4px 30px;
  }

  &__title {
    align-self: flex-start;
    font-family: 'OpenSans';
    font-size: 20px;
    line-height: 1.2em;
    /* identical to box height, or 120% */
    color: #FFFFFF;
    margin-bottom: 14.6px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__type {
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #FFFFFF;
  }

  &__area {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'OpenSans';
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    color: #FFFFFF;

    &:after {
      content: 'м²';
      margin-left: 5px;
    }
  }
}
</style>
